<settings>
  <localRepository>/data/java/repository</localRepository>
  <servers>
    <server>
      <id>releases</id>
      <username>deployment</username>
      <password><![CDATA[deployment123]]></password>
    </server>
    <server>
      <id>snapshots</id>
      <username>deployment</username>
      <password><![CDATA[deployment123]]></password>
    </server>
    <server>
      <id>thirdparty</id>
      <username>deployment</username>
      <password><![CDATA[deployment123]]></password>
    </server>
  </servers>
  <mirrors>
	 
	<mirror>
      <id>yougou</id>
      <mirrorOf>*</mirrorOf>
      <url>http://119.147.213.188:8081/nexus/content/groups/public/</url>
    </mirror>
	<mirror>
      <id>yougou</id>
      <mirrorOf>*</mirrorOf>
      <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>yougou</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
        <pluginRepository>
        <id>aliyun</id> 
        <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
      </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
    </profile>
    <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                  	http://172.20.32.130:9000
                </sonar.host.url>
                <sonar.login>
                	d3eb81a8673b1c2fa8e99034ece096a5f6eb135a
                </sonar.login>
            </properties>
        </profile>     
  </profiles>
  <activeProfiles>
    <activeProfile>yougou</activeProfile>
  </activeProfiles>

   <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
</settings>
